.App {
  text-align: center;
}

.HeaderFont{
  font-weight: bold;
  font-size: 60px;
  font-family: "Courier New";
  letter-spacing: 50px;
}

.AddFormInput{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.AddFormLable{
  width: 80%;
  font-weight: bold;
  font-size: 18px;
  font-family: "Courier New";
  letter-spacing: 6px;
}

.AddFormButton {
  display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #46afcf;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 25px;
  width: 20%;
}

.AddFormButton:active {
  background-color: #2d778d;
  box-shadow: 0 5px #666;
}

.Stat{
  float:left;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 25px;
  border: 1px solid #dddddd;
  box-shadow: 0 3px 4px #bbbbbb;
  width: 180px;
  height: 50px;
  background-color:rgb(0, 125, 235);
  color: #fff;
  font-weight:bold;
  text-align: center;
}

.Stat:hover{
  background-color:rgb(3, 65, 119);
}