.Firma{
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #dddddd;
    box-shadow: 0 3px 4px #bbbbbb;
    width: 90%;
    height: 120px;
    background-color:antiquewhite;
}

.Firma:hover{
    background-color:rgb(245, 195, 129);
    border: outset;
}

.ButtonMenu {
    font-family: "Courier New";
    font-weight: bold;
    margin: 20px;
    background-color: #d37801;
    color: white;
    border-radius: 8px;
    width: 80px;
    border: 0px;
    height: 20px;
  }