.App {
  text-align: center;
}

.Header {
  text-align: center;
  background-color:rgb(228, 252, 232);
}

.Body {
  text-align: center;
}

.Details1{
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  width: 90%;
}

.Details2{
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  width: 90%;
}

.SelectPage {
  font-family: "Courier New";
  font-weight: bold;
  font-style: italic;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 10px;
  margin: 25px;
}

.SelectPage:active {
  background-color: #3e8e41;
}